label span.error-text {
	font-style: italic;
	display: block;
	font-family: serif;
}

input.form-control {
	font-size: 6em;
	height: 100%;
	text-align: center;
}

label.btn.toggle-on, label.btn.toggle-off, .btn.btn-block {
	font-size: 6em;
}

label.control-label {
	font-size: 2em;
}

label.control-label input.case-type {
	margin-left: 20px;
	box-shadow: none;
}

div #password-ouput {
	text-align: center;
	font-size: 2vw;
}

div.container {
	background-color: white;
}

html:after {
    content : "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(../img/password_strength.jpg); 
    background-repeat: round;
    width: 100%;
    height: 100%;
    opacity : 0.05;
    z-index: -1;
}

header h1, header h4 {
	text-align: center;
}